/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    background-image: radial-gradient(circle,rgba(255,255,255,1) 20%,rgb(252, 25, 176) 80%);
}

/* page styling */
#wrapper{
    overflow-x: hidden;
    height: 100vh;
}
h1{
    font-size: 1.2rem;
    text-align: center;
    margin-block: 8.5%;
}

.inner-container{
    margin: 0 auto;
    width: 100vw;
    padding: 0 10%;
}

.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2vh;
    margin-bottom: 100px;
}
.image{
    position: relative;
    background-color: blanchedalmond;
    width: 48%;
    height: 40vh;
    overflow: hidden;
    box-shadow: 0 0 6px black;
}
.image img{
    width: 100%;
    filter: grayscale(100%);
}
figcaption{
    position: absolute;
    bottom: 3%;
    left: 2%;
    color: white;
    text-shadow: 0 0 4px black;
    opacity: 0;
}

.image:hover img{
    filter: grayscale(0%);
    transition: 1s;
}
.image:hover{
    filter: drop-shadow(0 0 10px black);
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}
.image:hover figcaption{
    opacity: 1;
    transform: scale(1.05);
    transition: 1s;
}

@media only screen and (max-width: 768px){
    .image{
        width: 90%;
        height: 20vh;
        align-items: center;
    }
}